<a href="https://colab.research.google.com/github/NoeBaru/CampusS.T.E.M/blob/main/lezione1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
print("Hello, world!") #stampa ciao mondo

Hello, world!

In [41]:
nome = "Noemi" #assegno alla variabile nome il mio nome

In [42]:
print(nome) #stampa il mio nome

Noemi

In [43]:
print(f"il tuo nome e': {nome}") #stampa il tuo nome

il tuo nome e': Noemi

In [44]:
robot = arnold = "Terminator"

In [45]:
print(f"Arnold e': {arnold} e robot e': {robot}")

Arnold e': Terminator e robot e': Terminator

In [46]:
x = 100
print(x)
x = x + 1
print(x)

y = 50
print(y)
x += y #x = x + y
print(x)

100
101
50
151

In [47]:
basic_red = "Mountain"
basic_blue = "Island"
dual_land = basic_red + " " + basic_blue
print(dual_land)

Mountain Island

In [55]:
#le liste possono avere diversi tipi di variabili all'interno
lista = ["a", 3, "ciao", -1, 3.44]
#il dizionario e'
dizionario = {}

dizionario["Ferrari"] = "rossa"
dizionario["porche"] = "blu"
print(dizionario["Ferrari"])

dizionario["dato"] = lista
print(dizionario["dato"][0]) #stampa il primo valore della lista

rossa
a

In [50]:
#SLICING
numeri = [1, 6, 7, 9]

print(f"La srtinga dal 3^ carattere al 7^ escluso: {numeri[3:7]}") #dal 3 al 7 ESCLUSO
print(f"Tutta la stringa escluso il primo carattere e l'ultimo: {numeri[1:-1]}")
print(f"Tutta la stringa escluso il primo carattere: {numeri[1:]}") #ESCLUDE il primo e l'ultimo
print(f"Tutta la stringa escluso l'ultimo: {numeri[:-1]}") #funziona anche se si mette 0 al posto di nulla
print(f"Tutta la stringa al contrario: {numeri[::-1]}")
print(numeri.pop()) #stampa l'ultimo elemento e lo toglie
#.metodo (operazione sulla lista)

La srtinga dal 3^ carattere al 7^ escluso: [9]
Tutta la stringa escluso il primo carattere e l'ultimo: [6, 7]
Tutta la stringa escluso il primo carattere: [6, 7, 9]
Tutta la stringa escluso l'ultimo: [1, 6, 7]
Tutta la stringa al contrario: [9, 7, 6, 1]
9

In [51]:
print(len(numeri)) #da il numero di numeri
print(sum(numeri)) #somma i numeri

3
14